<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人资料修改页</title>
		<link rel="stylesheet" href="css/updatepersondata.css"/>
	</head>
	<body>
		<div class="Wb_miniblog">
			<!-- 导航栏 -->
			<div class="WB_global_nav">
				<div class="gn_header">
					<div class="gn_logo">
						<a href="#">
							<img src="images/logo.png">
						</a>
					</div>
					<div class="gn_search_v2">
						<input type="text"/>
						<a href="#">
							<img src="images/search.png">
						</a>
					</div>
					<div class="gn_position">
						<div class="gn_position_nav">
							<ul>
								<li>
									<a href="index.jsp">首页</a>
								</li>
								<li>
									<a href="#">视频</a>
								</li>
								<li>
									<a href="#">發现</a>
								</li>
								<li>
									<a href="#">游戏</a>
								</li>
								<li class="gn_position_nav_l1">
									<a href="#">小叮当</a>
								</li>
							</ul>
						</div>
						<div class="gn_position_set">
							<div><a href="#">我的</a></div>
							<div><a href="#">设置</a></div>
							<div><a href="#">写</a></div>
						</div>
					</div>
				</div>
			</div>
			<!-- 内容区 -->
			<div class="WB_main">
				<div class="WB_frame">
					<!-- 封面区 +导航栏2-->
					<div class="WB_frame_a">
						<!-- 封面区-->
						<div class="back_image">
							<div class="back_image_log"></div>
							<p class="person_name">Wuli颖宝</p>
							<p class="person_say">
								<a href="#">一个人是孤独,想一个人么是孤单,无人可想才是寂寞!</a>
							</p>
						</div>
						<!-- 封面区->导航栏2 -->
						<div class="back_nav">
							<div class="back_nav_tab">
								<table class="tab">
									<tbody>
										<tr>
											<td>
												<a href="#" id="tab_a1">我的主页</a>
											</td>
											<td>
												<a href="photos.html">我的相册</a>
											</td>
											<td>
												<a href="#">管理中心</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- data区+动态区 -->
					<div class="plc_main">
						<!-- data区 -->
						<div class="WB_frame_b">
							<!-- 关注/粉丝/微博 -->
							<div class="attention">
								<div class="attention_tab">
									<table class="tab1">
										<tr>
											<td>
												<a href="#">
													<strong>5</strong>
													<span>关注</span>
												</a>
											</td>
											<td id="tab1_a2">
												<a href="#">
													<strong>2</strong>
													<span>粉丝</span>
												</a>
											</td>
											<td>
												<a href="#">
													<strong>5</strong>
													<span>微博</span>
												</a>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<!-- 申请认证 -->
							<div class="attestation">
								<div class="attestation_top">
									<p>
										<span>
											<a href="#">申请认证</a>
										</span>
										<span class="attestation_top_s2">
											<a href="#">Lv2</a>
										</span>
									</p>
								</div>
								<div class="attestation_centre">
									<div class="attestation_centre_ind">
										<p>个人资料完成度55%</p>
										<div class="attestation_centre_box"></div>
									</div>
								</div>
								<div class="attestation_buttom">
									<a href="#" class="attestation_buttom_a">编辑个人资料&nbsp></a>
								</div>
							</div>
							<!-- 赞 -->
							<div class="assist">
								<div class="assist_title">
									<h2>讃</h2>
								</div>
								<div class="assist_content">
									<div class="assist_content_mat">
										<div class="assist_content_mat_image">
											<a href="#">
												<img src="images/ym.png">
											</a>
										</div>
										<div class="assist_content_mat_wb">
											<div class="assist_content_mat_wb_h">
												<a href="#">杨幂</a>
											</div>
											<div class="assist_content_mat_wb_b">
												<a href="#">十年,人生拥有了更多选择,但选择的初衷从未改变.很开心一路走来,一直能和ELLE共同成...</a>
											</div>
										</div>
									</div>
								</div>
								<div class="assist_more">
									<a href="#">查看更多 ></a>
								</div>
							</div>
							<!-- 我的微博人气 -->
							<div class="moods">
								<div class="moods_title">
									<div class="moods_title_name">
										<h2>我的微博人气</h2>
									</div>
								</div>
								<div class="moods_content">
									<div class="moods_content_wb">
										<p>人气指数</p>
										<p>您的数据暂时无法算出,明天再来吧.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- 个人资料区 -->
						<div class="WB_frame_c">
							<div class="frame_c_data">
								<form action="">
									<!-- 基本资料 -->
									<!-- 个人资料-头 -->
									<div class="c_data_d">
										<div class="c_data_d_wb">基本资料</div>
										<div class="c_data_d_bd"></div>
									</div>
									<div class="c_data">
										<p>&nbsp;&nbsp;登&nbsp;录&nbsp;名 &nbsp;&nbsp;&nbsp;510565472@qq.com</p>
										<p>&nbsp;&nbsp;昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称 &nbsp;&nbsp;&nbsp;&nbsp;<input value="小叮当" /></p>
										<p>真實姓名 &nbsp;&nbsp;&nbsp;&nbsp;<input value="彭超" /></p>
										<p>&nbsp;&nbsp;所&nbsp;在&nbsp;地 &nbsp;&nbsp;
											<select>
												<option>请选择</option>
												<option>湖南</option>
												<option>湖北</option>
												<option>广东</option>
											</select>
											<select>
												<option>请选择</option>
												<option>长沙</option>
												<option>株洲</option>
												<option>湘潭</option>
											</select>
										</p>
										<p class="p_sex">&nbsp;&nbsp;性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别 &nbsp;&nbsp;
											<input type="radio" checked name="sex"/>&nbsp;男&nbsp;
											<input type="radio" name="sex"/>&nbsp;女
										</p>
										<p>感情状况&nbsp;&nbsp;&nbsp;&nbsp;
											<select>
												<option>单身</option>
												<option>求交往</option>
												<option>暗恋中</option>
												<option>暧昧中</option>
												<option>恋爱中</option>
												<option>订婚</option>
												<option>已婚</option>
												<option>分居</option>
												<option>离异</option>
												<option>丧偶</option>
											</select>
										</p>
										<p> &nbsp;&nbsp;生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日 &nbsp;&nbsp;&nbsp;
											<select>
												<option>1990</option>
												<option>1991</option>
												<option>1992</option>
											</select>
											年
											<select>
												<option>01</option>
												<option>02</option>
												<option>03</option>
											</select>
											月
											<select>
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											日
										</p>
										<p>
											&nbsp;&nbsp;邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱 &nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="请输入正确格式"/>
										</p>
										<p>
											&nbsp;&nbsp;Q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q &nbsp;&nbsp;&nbsp;&nbsp;<input/>
										</p>
									</div>
									<!-- 教育背景 -->
									<!-- 个人资料-头 -->
									<div class="c_data_d">
											<div class="c_data_d_wb">教育信息</div>
											<div class="c_data_d_bd"></div>
									</div>
									<div class="c_educate">
										<p>学校类型&nbsp;&nbsp;&nbsp;&nbsp;
											<select>
												<option>大学</option>
												<option>高中</option>
											</select>
										</p>
										<p>学校名称&nbsp;&nbsp;&nbsp;&nbsp;
											<input placeholder="点击选择学校"/>
										</p>
										<p>入学时间&nbsp;&nbsp;&nbsp;&nbsp;
											<select>
												<option>请选择</option>
												<option>2010</option>
												<option>2011</option>
												<option>2012</option>
											</select>
										</p>
										<p>&nbsp;&nbsp;班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="请输入完整的院系名称" /></p>
										<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<input type="button" value="确定" class="p_button1"/>&nbsp;&nbsp;&nbsp;
											<input type="button" value="取消" class="p_button2"/>
										</p>
										<p>大学 长沙学院(2010年) XX系XX专业XX班</p>
									</div>
									<!-- 兴趣爱好 -->
									<!-- 个人资料-头 -->
									<div class="c_data_d">
											<div class="c_data_d_wb">兴趣爱好</div>
											<div class="c_data_d_bd"></div>
									</div>
									<div class="c_interest">
										<div class="c_interest_tag"><b>标签:</b>
											<input type="button" value="篮球"/>
											<input type="button" value="足球"/>
											<input type="button" value="排球"/>
											<input type="button" value="游戏"/>
											<input type="button" value="篮球"/>
											<input type="button" value="足球"/>
											<input type="button" value="排球"/>
											<input type="button" value="游戏"/>
											<input type="button" value="唱歌"/>
										</div>
										<div class="c_interest_cho"><b>选择:</b>
											<input type="button" value="篮球"/>
											<input type="button" value="足球"/>
											<input type="button" value="排球"/>
											<input type="button" value="游戏"/>
											<input type="button" value="篮球"/>
											<input type="button" value="足球"/>
											<input type="button" value="排球"/>
											<input type="button" value="游戏"/>
											<input type="button" value="唱歌"/>
										</div>
										<div class="c_interest_chg">
											<a href="#">Change</a>
										</div>
										<!-- 个人资料-头 -->
										<div class="c_data_d">
											<div class="c_data_d_bd"></div>
											<div class="c_data_d_wb"><a href="persondata.html">保存更改</a></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 底部链接/版权区域 -->
			<div class="WB_footer">
				<!-- 底部链接 -->
				<div class="WB_footer_top">
					<div class="footer_top">
						<div class="footer_top_dl">
							<dl>
							<dt>微博精彩</dt>
							<dd>
								<a href="#">热门微博</a>&nbsp;
								<a href="#">热门话题</a>
							</dd>
							<dd>
								<a href="#">名 人 堂</a>&nbsp;&nbsp;&nbsp;
								<a href="#">微博会员</a>
							</dd>
							<dd>
								<a href="#">微 相 册</a>&nbsp;&nbsp;&nbsp;
								<a href="#">微 游 戏</a>
							</dd>
							<dd>
								<a href="#">微 指 数</a>
							</dd>
						</dl>
						</div>
						<div class="footer_top_dl">
							<p class="top_dl_p">手机玩微博</p>
							<div class="top_dl_img">
								<img src="images/pdf.png">
							</div>
							<div class="top_dl_d">
								<a href="#">扫描下载,更多版本戳这里</a>
							</div>
						</div>
						<div class="footer_top_dl">
							<dl>
							<dt>认证&合作</dt>
							<dd>
								<a href="#">申请认证</a>&nbsp;
								<a href="#">链接网站</a>
							</dd>
							<dd>
								<a href="#">企业微博</a>&nbsp;
								<a href="#">广告服务</a>
							</dd>
							<dd>
								<a href="#">微博标识</a>&nbsp;
								<a href="#">广告代理商</a>
							</dd>
							<dd>
								<a href="#">开放平台</a>
							</dd>
						</dl>
						</div>
						<div class="footer_top_dl">
							<dl>
							<dt>微博帮助</dt>
							<dd></dd>
							<dd>
								<a>常见问题</a>
							</dd>
							<dd></dd>
							<dd>
								<a>自主服务</a>
							</dd>
						</dl>
						</div>
					</div>
				</div>
				<!-- 版权区 -->
				<div class="WB_footer_buttom">
					<div class="footer_buttom">
						<p>
							<a href="#">微博客服</a>&nbsp;
							<a href="#">意见反馈</a>&nbsp;
							<a href="#">舞弊举报</a>&nbsp;
							<a href="#">About Weibo</a>&nbsp;
							<a href="#">开放平台</a>&nbsp;
							<a href="#">微博招聘</a>&nbsp;
							<a href="#">新浪网导航</a>&nbsp;
							<a href="#">举报处理大厅</a>
						</p>
						<p>
							<a href="#">京ICP证100780号</a>&nbsp;
							<a href="#">互联网药品服务许可证</a>&nbsp;
							<a href="#">京网文[2014]2046-296号</a>&nbsp;
							<a href="#">京ICP备12002058号</a>&nbsp;
							<a href="#">增值电信业务经营许可证B2-20140447</a>&nbsp;
							<a href="#">已测资字1111805</a>
						</p>
						<p>
							<a href="#">广播电视节目制作经营许可证（京）字第04005号</a>&nbsp;
							<a href="#">Copyright © 2009-2017 WEIBO 北京微梦创科网络技术有限公司</a>&nbsp;
							<a href="#">京公网安备11000002000019号</a>&nbsp;
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>